# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

web-build/

# Environment
.env
.env.local
.env.production

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Temporary files
*.log
*.swp
*.swo
*~
.tmp/

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
